.student-list{
   .body-row1{
      width: 100%;
      padding: 10px;
   }

   .body-row2{
      width: 100%;
      padding: 10px;
      margin-left: 10px;

      a{
         width: 90%;
         .student-rows{
            
         }
      }
      .student-header{
         font-weight: 600;
         width: 90%;
      }

   }

   .add-student{
      position: absolute;
      bottom : 40px;
      right: 40px;
      background: $link-color;
      color: white;
      z-index: 800;
      border: 1px solid $link-color;
      padding: 10px 20px;
      border-radius: 20px;

      &:hover{
         background: white;
         color: $link-color;
      }
      &:focus {
        outline: none !important;
      }
   }
}