@import "./config";
@import "./login";
@import "./register";
@import "./pagination";
@import "./bodyHeader";
@import "./modules/modules";
@import "./student-list";
@import "./studentModal";
@import "./sidebar/sidebar";
@import "./studentProfile/studentProfile";
@import "./Settings/settings";
@import "./common/common";

body {
  overflow-x: hidden;
}

a {
  text-decoration-line: none;
}

.error {
   text-align: center;
   color : red;
   font-size: 14px;
   margin-bottom: 0;
}

img {
  object-fit: contain;
}

.container-fluid {
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

ul {
   list-style: none;
}