.calender{
   .title{
      background: white;
      text-align: center;
      padding: 5px 1px;
      border : 1px solid $border-color;
      font-size: 14px;
      cursor: pointer;

      svg{
        font-size: 15px;
        margin-left: 8px;
        margin-top: 4px;
      }
   }
   .calender-list{
      display: none;

      &.true{
        display: block;
        position: absolute;
        z-index: 900;
        background: white;
        height : 170px;
        width : 153px;
        overflow-y: auto;
      }

      .year{
         padding: 5px 10px;
         text-align: center;

         svg{
            &.fa-angle-left{
              margin-right: 10px;
            }
            &.fa-angle-right{
              margin-left: 10px;
            }
         }
      }

      .months{
          margin-top: 10px;
      }

      ul {
        padding-left: 10px;
         li{
            .container-radio-sort {
              display: block;
              position: relative;
              padding-left: 30px;
              cursor: pointer;
              font-size: 13px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            
            .container-radio-sort input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
            }
            
            .checkmark-radio-sort {
              position: absolute;
              top: 0;
              left: 0;
              height: 17px;
              width: 17px;
              background-color: #eee;
              border-radius: 50%;
            }
            
            .container-radio-sort:hover input~.checkmark-radio-sort {
              background-color: #ccc;
            }
          
            .container-radio-sort input:checked~.checkmark-radio-sort {
              background-color: #4b3b94;
              opacity: 0.8;
            }
            
            .checkmark-radio-sort:after {
              content: "";
              position: absolute;
              display: none;
            }
          
            .container-radio-sort input:checked~.checkmark-radio-sort:after {
              display: block;
            }
            
            .container-radio-sort .checkmark-radio-sort:after {
              top: 6px;
              left: 6px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: white;
            }
         }
      }
   }


}