.loading-div{
    width: 640px; 
    height: auto;
    margin: 0 auto;
    padding-top: 250px;
    position: relative;
    text-align: center;

    h5{
      text-align: center;
       color : $link-color;
    }
}